body {
  background-image: url("fotos/imagen3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  color: black;
}

.container1 {
  background-color: rgba(237, 198, 0, 0.5);
  border-radius: 20px;
}

.container1 .pregunta {
  font-family: sans-serif;
  font-weight: bold;
}

@media (max-width: 768px) { /*mobile*/

  .container {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 90%;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .container1 {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


@media (min-width: 768px) and (max-width: 992px) { /*Tablet*/
  .container {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .container1 {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


@media (min-width: 992px) { /*desktop*/
  .container {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-top: 95px;
    width: 70%;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .container1 {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
